<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="sentinel" type="Shuttle.Sentinel.SentinelSection, Shuttle.Sentinel" />
		</sectionGroup>
	</configSections>

	<shuttle>
		<sentinel
			connectionStringName="connection-string-name" >
		</sentinel>
	</shuttle>
</configuration>