<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="subscription" type="Shuttle.Esb.Sql.Subscription.SubscriptionSection, Shuttle.Esb.Sql.Subscription" />
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb" />
    <section name="accessClient" type="Shuttle.Access.Api.AccessClientSection, Shuttle.Access.Api" />
  </configSections>

  <appSettings>
    <add key="azure" value="UseDevelopmentStorage=true" />
    <add key="oauth-credentials-path" value="D:\development.github\eben-roux\credentials\oauth-sentinel.json"/>
    <add key="siteUrl" value="http://localhost:8080/"/>
  </appSettings>

  <subscription connectionStringName="Sentinel" />

  <accessClient
    url="http://localhost:5599/"
    identityName="system://sentinel"
    password="Dbk@Tbh8" />

  <serviceBus>
    <queueFactories scan="false">
      <add type="Shuttle.Esb.AzureMQ.AzureStorageQueueFactory, Shuttle.Esb.AzureMQ" />
    </queueFactories>

    <messageRoutes>
      <messageRoute uri="azuremq://azure/sentinel-server-inbox-work">
        <add specification="StartsWith" value="Shuttle.Sentinel.Messages" />
      </messageRoute>
      <messageRoute uri="azuremq://azure/scheduling-server-work">
        <add specification="StartsWith" value="Shuttle.Esb.Scheduling.Messages" />
      </messageRoute>
    </messageRoutes>
  </serviceBus>

  <connectionStrings>
    <clear />
    <add name="Sentinel" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Sentinel;Integrated Security=SSPI;" />
    <add name="Access" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Access;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>