<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net451" />
  <package id="log4net" version="2.0.7" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net451" />
  <package id="Shuttle.Core.Castle" version="1.0.6" targetFramework="net451" />
  <package id="Shuttle.Core.Data" version="4.2.11" targetFramework="net451" />
  <package id="Shuttle.Core.Host" version="3.2.15" targetFramework="net451" />
  <package id="Shuttle.Core.Infrastructure" version="4.2.66" targetFramework="net451" />
  <package id="Shuttle.Core.Log4Net" version="3.2.13" targetFramework="net451" />
  <package id="Shuttle.Esb" version="7.0.58" targetFramework="net451" />
  <package id="Shuttle.Esb.EMail" version="2.1.5" targetFramework="net45" requireReinstallation="true" />
  <package id="Shuttle.Esb.Msmq" version="6.0.7" targetFramework="net451" />
  <package id="Shuttle.Esb.RabbitMQ" version="7.0.4" targetFramework="net451" />
  <package id="Shuttle.Esb.Sql" version="6.0.17" targetFramework="net451" />
  <package id="Shuttle.Recall" version="7.0.67" targetFramework="net451" />
  <package id="Shuttle.Recall.Sql" version="4.0.7" targetFramework="net451" />
</packages>