<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="sentinel" type="Shuttle.Sentinel.SentinelSection, Shuttle.Sentinel" />
	</configSections>

	<sentinel
		authenticationServiceType="authentication-service-type"
		authorizationServiceType="authorization-service-type"
		connectionStringName="connection-string-name" >
	</sentinel>
</configuration>