<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="shuttle">
			<section name="sentinel" type="Shuttle.Sentinel.Module.SentinelSection, Shuttle.Sentinel.Module" />
		</sectionGroup>
	</configSections>

	<shuttle>
	  <sentinel
	    inboxWorkQueueUri="some://endpoint/queue"
	    endpointName="endpoint-name"
	    heartbeatIntervalSeconds="25" />
	</shuttle>
</configuration>