<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="sentinel" type="Shuttle.Sentinel.Module.SentinelSection, Shuttle.Sentinel.Module" />
	</configSections>

	<sentinel
	  inboxWorkQueueUri="some://endpoint/queue"
	  endpointName="endpoint-name" />
</configuration>